---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.name }} | {{ site.tagline }}</title>
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2 id="about"><i class="fas fa-user fa-fw fa-pull-left"></i>About me</h2>
				<p>{{ site.description }}</p>
			</div>
		</section>
		<section class="playlists">
			<div class="container">
				<h2><i class="fas fa-photo-video fa-fw fa-pull-left"></i>Playlists</h2>
				<ul class="playlists-list">
					{% for item in site.categories.playlists reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.title }}">
								<div class="img-wrapper">
									<img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }}"  title="{{ item.title }}" />
								</div>
								<span class="h2">{{ item.playlist.type }}</span>
								<h3>{{ item.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>