<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Quick Links</h2>
			<ul>
				<li><a title="About" href="{{ "/#about" | prepend: site.baseurl }}">About</a></li>
				<li><a title="{{ site.data.authors[site.author].email }}" href="mailto:{{ site.data.authors[site.author].email }}">{{ site.data.authors[site.author].email }}</a></li>
				<li><a title="sitemap.xml" href="{{ "/sitemap.xml" | prepend: site.baseurl }}">Sitemap</a></li>
			</ul>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				{% for link in site.social.links %}
				<li><a title="{{ link }}" href="{{ link }}" target="_blank"><span>{{ link }}</span></a></li>
				{% endfor %}
			</ul>
		</section>
	</div>
</footer>
