---
layout: default
---
<!-- Title row -->
<div class="row row-eq-spacing mb-0">
    <div class="col my-0">
      <h1 class="font-weight-lighter text-uppercase font-size-14 px-5 mt-0 mb-1"><i class="{{page.icon}} fa-fw text-muted mr-5"></i>{{page.title}}</h1>
    </div>
</div>
<div class="row row-eq-spacing mt-0">
    {% if site.categories[page.category] %}
    {% for post in site.categories[page.category] %}
  
    {% assign mod2 = forloop.index | modulo:2 %}
    {% assign mod3 = forloop.index | modulo:3 %}
    {% assign spacerClass = "d-md-none" %}
    {% if mod3 == 0 %}
      {% assign spacerClass = "d-md-none" %}
    {% endif %}
    {% if mod2 == 0 %}
      {% assign spacerClass = "d-lg-none" %}
    {% endif %}
  
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <h2 class="content-title text-uppercase text-white-dm text-smoothing-antialiased">
          {{ post.title }}
        </h2>
        <p>
          {{ post.content }}
        </p>
        <div class="text-right"> <!-- text-right = text-align: right -->
          <a class="btn btn-block btn-primary btn-lg rounded-0" href="{{ post.url | prepend: site.baseurl }}"><i class="{{ post.icon }} fa-fw"></i> {{ post.title }}</a>
        </div>
      </div>
    </div>
    <div class="v-spacer {{ spacerClass }}"></div>
  {% endfor %} 
  {% endif %} 
  </div>