---
layout: default
---
<!-- Title row -->
<div class="row row-eq-spacing mb-0">
  <div class="col my-0">
    <h1 class="font-weight-lighter text-uppercase font-size-14 px-5 mt-0 mb-0"><i class="{{ page.icon }} fa-fw text-muted mr-5"></i>{{ page.title }}</h1>
  </div>
</div>
<div class="row row-eq-spacing m-0">
  <div class="col m-0">
    {{ page.content }}
  </div>
</div>
{%- assign repo_filter = "repo.topics contains '" | append: page.topic | append: "'" -%}
{%- assign repositories = site.github.public_repositories | where: "fork", "false" | where_exp: "repo", repo_filter | sort: 'name' -%}
{%- for repository in repositories -%}
<div class="row row-eq-spacing mt-5">
  <div class="col-12 col-md-auto text-center text-md-left"><img src="https://raw.githubusercontent.com/{{ repository.owner.login | url_encode }}/{{ repository.name | url_encode }}/{{ repository.default_branch | url_encode }}/pack_icon.png" class="img-fluid" alt="{{ repository.name }}" /></div>
  <div class="col download">
    <div class="content text-center text-md-left">
      <h2 class="content-title font-weight-lighter text-uppercase mb-0">{{ repository.name | replace: "MCPack", "" }}</h2>
      <p class="text-muted mt-0">{{ repository.description }}</p>
      <p><a href="https://github.com/{{ repository.owner.login | url_encode }}/{{ repository.name | url_encode }}/releases/latest/download/{{ repository.name | replace: 'MCPack', '' | url_encode }}.mcpack" class="btn btn-primary rounded-0 text-dark">Download</a></p>
    </div>
  </div>
</div>
{%- endfor -%}
