---
layout: default
---

<!-- Title row -->
<div class="row row-eq-spacing mb-0">
  <div class="col my-0">
    <h1 class="font-weight-lighter text-uppercase font-size-14 px-5 mt-0 mb-1"><i class="fas fa-photo-video fa-fw text-muted mr-5"></i>Playlists</h1>
  </div>
</div>
<!-- Cards row -->
<div class="row row-eq-spacing mt-0">
{% for item in site.categories.playlists reversed %}
  <div class="col-12 col-md-4">
    <div class="card p-0 border-0">
      <a href="{{ item.url | prepend: site.baseurl }}" alt="{{ item.title }}">
        <img src="{{ item.image | prepend: site.baseurl | replace: ".jpg", "-400w.jpg" }}" class="img-fluid" alt="{{ item.title }}" />
      </a>
      <div class="content m-0 p-5">
        <h2 class="content-title mb-5">
          <a href="{{ item.url | prepend: site.baseurl }}" alt="{{ item.title }}" class="text-uppercase text-smoothing-antialiased">{{ item.title }}</a>
        </h2>
        <p class="mt-0">
          <a href="{{ item.url | prepend: site.baseurl }}" class="badge-group" role="group" aria-label="{{ item.title }}">
            <span class="badge">Videos</span>
            <span class="badge badge-primary">{{ item.playlist.videos | size }}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
<!-- End cards row -->

<!-- Buttons row -->
<div class="row row-eq-spacing">
  <!-- First column -->
  <div class="col-12">
    <a class="btn btn-block btn-primary btn-lg rounded-0" href="downloads"><i class="fas fa-file-download fa-fw"></i>Downloads</a>
  </div>
</div>
