---
layout: default
common-ext-js:
  - "https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"
  - "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
  - "assets/script/main.js"
---

<!-- Featured Posts Carousel-->
<div class="content bg-light bg-dark-dm">
  <div class="carousel">
  {%- for post in site.posts -%}
  {%- if post.featured -%}
    <!-- Card with no padding with a content container nested inside of it -->
    <div class="carousel-cell">
      <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
        <img src="{{ post.image | prepend: site.baseurl }}" class="img-fluid" alt="{{ post.title }}">
      </a>
    </div>
  {%- endif -%}
  {%- endfor -%}
  </div>
  <div class="content pb-10">
    <h2 class="content-title carousel-caption"></h2>
  </div>
</div>

<!-- Buttons row -->
<div class="row row-eq-spacing">
  <!-- First column -->
  <div class="col-12 col-sm-6 col-md mt-10">
    <a class="btn btn-block btn-primary btn-lg rounded-0" href="{{ "downloads" | prepend: site.baseurl }}"><i class="fas fa-file-download fa-fw mr-5"></i>Downloads</a>
  </div>
  <div class="col-12 col-sm-6 col-md mt-10">
    <a class="btn btn-block btn-primary btn-lg rounded-0" href="{{ "builds" | prepend: site.baseurl }}"><i class="fas fa-building fa-fw mr-5"></i>Builds</a>
  </div>
  <div class="col-12 col-sm-6 col-md mt-10">
    <a class="btn btn-block btn-primary btn-lg rounded-0" href="{{ "playlists" | prepend: site.baseurl }}"><i class="fas fa-photo-video fa-fw mr-5"></i>Playlists</a>
  </div>
  <div class="col-12 col-sm-6 col-md mt-10">
    <a class="btn btn-block btn-primary btn-lg rounded-0" href="{{ "links" | prepend: site.baseurl }}"><i class="fas fa-link fa-fw mr-5"></i>Links</a>
  </div>
</div>  
