---
layout: default
---
<section class="intro">
    <div class="container">
        <h2 id="about"><i class="fas fa-user fa-fw fa-pull-left"></i>About me</h2>
        <p>{{ site.description }}</p>
    </div>
</section>
<section class="playlists">
    <div class="container">
        <h2><i class="fas fa-photo-video fa-fw fa-pull-left"></i>Playlists</h2>
        <ul class="playlists-list">
            {% for item in site.categories.playlists reversed %}
                <li>
                    <a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.title }}">
                        <div class="img-wrapper">
                            <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }}"  title="{{ item.title }}" 
                                srcset="{{ item.image | prepend: site.baseurl | replace: ".jpg", "-200w.jpg 200w" }},
                                        {{ item.image | prepend: site.baseurl | replace: ".jpg", "-400w.jpg 400w" }},
                                        {{ item.image | prepend: site.baseurl | replace: ".jpg", "-600w.jpg 600w" }},
                                        {{ item.image | prepend: site.baseurl | replace: ".jpg", "-800w.jpg 800w" }},
                                        {{ item.image | prepend: site.baseurl | replace: ".jpg", "-1280w.jpg 1280w" }},"
                                sizes="50vw" 
                            />
                        </div>
                        <span class="h2">{{ item.playlist.type }}</span>
                        <h3>{{ item.title }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
<script src="{{ "/assets/scripts/home.min.js" | prepend: site.baseurl }}"></script>