---
layout: default
common-ext-js:
  - href: "https://unpkg.com/scrollreveal@3.3.6/dist/scrollreveal.min.js"
  - href: "https://code.jquery.com/jquery-3.5.1.slim.min.js"
    sri: "sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
common-js:
  - "assets/scripts/vendor/sticky-kit.min.js"
  - "/assets/scripts/playlist.min.js"
---
<section class="playlist">
	<div class="container">
		<article>
			<span class="h2">Playlist Title</span>
			<h1>
				<a href="https://www.youtube.com/playlist?list={{ page.playlist.id }}" target="_blank" title="{{ page.title }}" rel="nofollow">{{ page.title }}</a>
			</h1>
			<span class="h2"><i class="fas fa-file-alt fa-fw fa-pull-left"></i>Description</span>
			{{ page.content }}
			<span class="h2"><i class="fas fa-video fa-fw fa-pull-left"></i>Videos</span>
			<ul>
				{% for video in page.playlist.videos %}
				<li>
					<a title="{{ video.title }}" href="https://youtube.com/watch?v={{ video.id }}" target="_blank" rel="nofollow">{{ video.title }}</a>
				</li>
				{% endfor %}
			</ul>
			<div class="playlist-meta">
				<span class="h2"><i class="fab fa-youtube-square fa-fw fa-pull-left"></i>Channel</span>
				<p><a title="{{ page.playlist.channel }}" href="{{ site.data.channels[page.playlist.channel].url }}" target="_blank" rel="nofollow">{{ page.playlist.channel }}</a></p>
				<span class="h2"><i class="fas fa-calendar-alt fa-fw fa-pull-left"></i>Year</span>
				<p>{{ page.date | date: "%Y" }}</p>
				<span class="h2"><i class="fas fa-tags fa-fw fa-pull-left"></i>Tags</span>
				{% for tag in page.tags %}
				<span class="tag tag-pill tag-dark"><i class="fas fa-tag fa-fw"></i>{{ tag }}</span>
				{% endfor %}
			</div>
		</article>
		<aside>
			<ul>
				{% for video in page.playlist.videos %}
				<li>
					{% include youtube-video.html id=video.id %}
				</li>
				{% endfor %}
			</ul>
		</aside>
	</div>
</section>
<section class="playlist-navigation">
	<div class="container">
		{% if page.previous and page.previous.categories contains "playlists" %}
		<a title="Previous {{ page.previous.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
			<span class="h2">Previous</span>
			<h2>{{ page.previous.title }}</h2>
		</a>
		{% endif %}
		{% if page.next and page.next.categories contains "playlists" %}
		<a title="Next {{ page.next.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
			<span class="h2">Next</span>
			<h2>{{ page.next.title }}</h2>
		</a>
		{% endif %}
	</div>
</section>
